<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.un1ink.infrastructure.dao.IStrategyDao">
    <select id="queryStrategy" parameterType="java.lang.Long" resultType="com.un1ink.infrastructure.po.Strategy">
        SELECT
        id, strategyId, strategyDesc, strategyMode,  grantType, grantDate, extInfo, createTime, updateTime
        FROM strategy
        where strategyId = #{strategyId}
    </select>

    <insert id="insert" parameterType="com.un1ink.infrastructure.po.Strategy">
        INSERT INTO strategy(strategyId, strategyDesc, strategyMode, grantType, grantDate, extInfo, createTime, updateTime)
        VALUES(#{strategyId}, #{strategyDesc}, #{strategyMode}, #{grantType},
               #{grantDate}, #{extInfo}, NOW(), NOW())
    </insert>

    <!--add mapper-->
</mapper>
